<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<title>Home page</title>
</head>

<style>
	#image {
		height: 100px;
		width: 130px;
		display: block;
	}

	#product-fillings {
		display: grid;
		grid-template-columns: 90px 90px 90px;
		grid-template-rows: 40px 40px;
		grid-gap: 2rem;
		margin: 40px;
		justify-content: center;
		align-content: start;
	}
</style>

<script th:inline="javascript">
	/*<![CDATA[*/
	const product = [[${product}]];
	const fillings = [[${fillings}]];
	let fillingsRequestData = [];


	function requestFillings(page) {
		$.ajax({
			url: "/v1/fillings?size=15&page=" + page,
			method: "GET",
			success: function (obj) {
				const fillings = document.getElementById("product-fillings");
				while (fillings.firstChild) {
					fillings.removeChild(fillings.firstChild);
					console.log("removed")
				}
				// addFillings(obj);
			}
		});
	}


	const checkFilling = id => {
		if (fillingsRequestData.includes(id)) {
			fillingsRequestData.splice(id);
		} else {
			fillingsRequestData.push(id);
		}
	};

	const checkboxLabelClick = id => document.getElementById(id).checked = true;

	const setAttributes = (el, attrs) => {
		for (var key in attrs) {
			el.setAttribute(key, attrs[key]);
		}
	};

	const addFillings = fillings => {
		for (let key in fillings.content) {

			const formCheck = document.createElement("div");
			formCheck.setAttribute("class", "form-check");

			const checkboxInput = document.createElement("input");
			setAttributes(checkboxInput, {
				"type": "checkbox",
				"class": "form-check-input",
				"onclick": "checkFilling('" + fillings.content[key].id + "')"
			});

			product.fillings.forEach(f => {
				if (f.id === fillings.content[key].id) {
					checkboxInput.checked = !checkboxInput.checked;
				}
			});

			const checkboxLabel = document.createElement("label");
			setAttributes(checkboxLabel, {
				"class": "form-check-label", "for": fillings.content[key].id,
			});

			checkboxLabel.innerHTML = fillings.content[key].name;

			formCheck.appendChild(checkboxInput);
			formCheck.appendChild(checkboxLabel);

			document.getElementById("product-fillings").appendChild(formCheck);
		}

		const fillingsElement = document.getElementById("product-fillings");

		const buttonNext = document.createElement("button");
		buttonNext.innerHTML = "Next";
		let nextNumber = fillings.number + 1;
		buttonNext.setAttribute("onclick", "requestFillings('" + nextNumber + "')");
		if (!fillings.last) fillingsElement.appendChild(buttonNext);

		const buttonPrev = document.createElement("button");
		buttonPrev.innerHTML = "Previous";
		buttonPrev.setAttribute("onclick", "requestFillings('" + (fillings.number - 1) + "')");
		if (!fillings.first) fillingsElement.appendChild(buttonPrev);
	};

	$(document).ready(() => {


		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'Messenger'));

		$('#product-change-submit').on('click', () => {
			var request = {
				id: product.id,
				name: $("#pname").val(),
				price: $("#price").val(),
				image: $("#image-input").val(),
				fillingsRequestData: fillingsRequestData
			};

			$.ajax({
				url: "/v1/products",
				contentType: "application/json",
				method: "PUT",
				data: JSON.stringify(request),
				dataType: 'json',
				statusCode: {
					204: function () {
						// the Messenger Extensions JS SDK is done loading
						MessengerExtensions.requestCloseBrowser(function success() {
							// webview closed
						}, function error(err) {
							// an error occurred
						});

					}
				}
			});
		});

		$('#image-input').on("input", function () {
			if (this.value) {
				$("#image").attr("src", this.value);

			} else {
				$("#image").attr("src", product.image);
			}
		});

		$("#pname").val(product.name);
		$("#price").val(product.price);
		$("#image").attr("src", product.image);
		$("#image-input").val(product.image);
		addFillings(fillings);
	});


	/*]]>*/
</script>


<body>
<div class="container">
	<form>
		<div class="form-group">
			<label for="pname">Product name</label>
			<input type="text" class="form-control" id="pname" aria-describedby="emailHelp">
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input type="text" class="form-control" id="price" aria-describedby="emailHelp">
		</div>
		<div class="form-group">
			<img src="#" id="image"/>
			<label for="image-input">Image</label>
			<input type="text" class="form-control" id="image-input"
				   aria-describedby="emailHelp" placeholder="Enter image url">
		</div>

		<div id="product-fillings">

		</div>

		<button type="button" class="btn btn-primary" id="product-change-submit">Submit</button>
	</form>
</div>
</body>
</html>